composer
composer.lock
/vendor/

.DS_Store
Thumb.db

*.log
*.cache
*.tmp

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*~
*.swp
*.bak

/phpunit.xml
/phpunit.xml.dist
/test-results/

/coverage/
.clover
.phpunit.result.cache

.env
.env.local
.env.*.local