.env
.env.*

.DS_Store
clover.xml
Thumbs.db
composer.lock
.phpunit.result.cache

*.log
*.tmp
*.swp
*.cache
*.bak
*.orig
*.local.php
*.code.workspace
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
dist/
coverage/
/build/
/vendor/
/storage/
/node_modules/
/bootstrap/cache/
